<h2>Signup for Account</h2>


<form id = 'form' action="/signup" method ="POST">

<label for="theUsername">Username</label>
<input type="text" name ="theUsername">

<label for="thePassword">Password</label>
<input type="password" name ="thePassword">

<button>Submit</button>
</form>