<h1>Canvas below:</h1>

{{!-- <canvas id ='myCanvas' width="1000" height="1000" style="border: 1px solid red">
</canvas> --}}

{{#each onePiece}}
  <img src="{{this.image}}" alt="" style="height: 100">
{{/each}}
