<h1>Layout Details</h1>
{{#each furnitureList}}
  <li>{{this.title}}, {{this.x}}, {{this.y}}</li>
{{/each}}

<canvas id ='myCanvas' width="1000" height="1000" style="border: 1px solid red">
</canvas> 
<script src="/javascripts/layout-generator.js"></script>