<h2>New Layout</h2>
<form action="/layout/new" method="POST">
<div>
  <label for="objects">Objects</label>
  <select  multiple type ="text"  name="objects" id="" style="width: 300px">
    {{#each allFurniture}}
      <option value ="{{ this._id }}">{{this.title}}</option>
    {{/each}}
  </select>

</div>
  <button type="submit">Submit</button>
</form>


	<!--First Drop Target-->
<h2>Drag my blocks panel to panel!</h2>
<div data-drop-target="true">
		  <div id="box1" draggable="true" class="box navy"></div>
		  <div id="box2" draggable="true" class="box red"></div>
  <div id="box3" draggable="true" class="box green"></div>
		  <div id="box4" draggable="true" class="box orange"></div>
  <div id="box5" draggable="true" class="box navy"></div>
		  <div id="box6" draggable="true" class="box red"></div>
  <div id="box7" draggable="true" class="box green"></div>
		  <div id="box8" draggable="true" class="box orange"></div>
	</div>

	<!--Second Drop Target-->
	<div data-drop-target="true"></div>
  <hr>
{{!-- end of drag and drop --}}


<div>
  <h2>Destination-out to draw edge of containers</h2>
  <canvas id ='myCanvas'></canvas>
</div>
